<div id="<%= dom_id reply %>">
  <p>
    <strong>Comment:</strong>
    <%= reply.comment_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reply.user_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= reply.text %>
  </p>

</div>

<li>
  <%= reply.text %> -

  <%= form_for [reply, Reply.new] do |f| %>
    <%= f.text_area :text, placeholder: "Add a Reply" %><br/>
    <%= f.submit "reply"  %>
  <% end %>

  <ul>
    <%= render partial: 'replies/reply', collection: reply.replies %>
  </ul>

</li>