<thead>
<table id="hnmain" border="0" cellpadding="0" align="center" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <thead>
  <tr>
    <td bgcolor="#ff6600">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tbody>
        <tr>
          <td style="width:18px;padding-right:4px">
            <a href=http://www.ycombinator.com/>
              <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;">
            </a>
          </td>
          <td style="line-height:12pt; height:10px;">
            <span class="pagetop"><b class="=hname"><%= link_to 'Hacker News', microposts_url, class: 'ruby_link' %></b></span>
            <span class="pagetop_new"><%= link_to 'new', microposts_url(:sort =>"date"), class: 'ruby_link' %></span>
            <% if current_user %>
              | <span class="pagetop"><%= link_to 'threads', microposts_url, class: 'ruby_link' %></span> <!-- Cal fer un link de threads -->
            <% end %>
            | <span class="pagetop"><%= link_to 'ask', microposts_url(:type =>"ask"), class: 'ruby_link' %></span>
            | <span class="pagetop"><%= link_to 'submit', new_micropost_url, class: 'ruby_link' %></span>
          </td>
          <td style="text-align:right;padding-right:4px;">
            <% if current_user %>
              <%= link_to current_user.email, edit_user_registration_path, class: 'ruby_link' %>
              | <%= link_to 'logout', destroy_user_session_path, class: 'ruby_link', data: {turbo: "false"}, method: :delete %>
            <% else %>
              <%= link_to 'login', new_user_session_path, class: 'ruby_link' %>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="label_user">
      user: <span class="user_logged"><%= current_user.email %></span>
    </td>
  </tr>
  <tr>
    <td class="label">
      created: <span class="time_ago">
      <% if ((Time.now - current_user.created_at) / 1.year).round >= 1 %>
      <%= ((Time.now - current_user.created_at) / 1.year).round  %>  years ago
      <% else %>
        <% if ((Time.now - current_user.created_at) / 1.month).round >= 1 %>
          <%= ((Time.now - current_user.created_at) / 1.month).round %> months ago
        <% else %>
          <% if ((Time.now - current_user.created_at) / 1.week).round >= 1 %>
            <%= ((Time.now - current_user.created_at) / 1.week).round %> weeks ago
          <% else %>
            <% if ((Time.now - current_user.created_at) / 1.day).round >= 1 %>
              <%= ((Time.now - current_user.created_at) / 1.day).round %>  days ago
            <% else %>
              <% if ((Time.now - current_user.created_at) / 1.hour).round >= 1 %>
                <%= ((Time.now - current_user.created_at) / 1.hour).round %> hours ago
              <% else %>
                <% if ((Time.now - current_user.created_at) / 1.minute).round >= 1 %>
                  <%= ((Time.now - current_user.created_at) / 1.minute).round %> minutes ago
                <% else %>
                  <%= ((Time.now - current_user.created_at) / 1.second).round %> seconds ago
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </span>
    </td>
  </tr>
  <tr>
    <td class="label">
      <%= render "form", user: @user %>
    </td>
  </tr>
  </tbody>
</table>