<div id="<%= dom_id comment %>">
  <p>
    <strong>Userid:</strong>
    <%= comment.userId %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= comment.upVotes %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= comment.time %>
  </p>

</div>
