<table border="0" cellpadding="0" align="center" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tr>
    <div class="comment_info_list_comments">
      <span>
        <span class="unable_unvote">*</span>
      </span>
      <span> <%= comment.comment_likes.count %> <%= (comment.comment_likes.count) == 1 ? 'point' : 'points' %> by</span>
      <span>
        <% if comment.user_id.to_i != 0 %>
          <% if current_user %>
            <% if current_user.email == User.search_name(comment.user_id.to_i)%>
              <a class="link_user" href="/users/edit"><%= User.search_name(comment.user_id.to_i) %></a>
            <% else %>
              <a class="link_user" href="/users/<%= User.search_name(comment.user_id.to_i) %>"><%= User.search_name(comment.user_id.to_i) %></a>
            <% end %>
          <% else %>
              <a class="link_user" href="/users/<%= User.search_name(comment.user_id.to_i) %>"><%= User.search_name(comment.user_id.to_i) %></a>
          <% end %>
        <% end %>
      </span>
      <span>
        <% if comment.created_at.to_i != 0 %>
          <% if ((Time.now - comment.created_at) / 1.year).round >= 1 %>
            <%= ((Time.now - comment.created_at) / 1.year).round %>  years ago
          <% else %>
            <% if ((Time.now - comment.created_at) / 1.month).round >= 1 %>
              <%= ((Time.now - comment.created_at) / 1.month).round %> months ago
            <% else %>
              <% if ((Time.now - comment.created_at) / 1.week).round >= 1 %>
                <%= ((Time.now - comment.created_at) / 1.week).round %> weeks ago
              <% else %>
                <% if ((Time.now - comment.created_at) / 1.day).round >= 1 %>
                  <%= ((Time.now - comment.created_at) / 1.day).round %>  days ago
                <% else %>
                  <% if ((Time.now - comment.created_at) / 1.hour).round >= 1 %>
                    <%= ((Time.now - comment.created_at) / 1.hour).round %> hours ago
                  <% else %>
                    <% if ((Time.now - comment.created_at) / 1.minute).round >= 1 %>
                      <%= ((Time.now - comment.created_at) / 1.minute).round %> minutes ago
                    <% else %>
                      <%= ((Time.now - comment.created_at) / 1.second).round %> seconds ago
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </span>
      <span>
        <a href="<%= micropost_path(comment.micropost_id) %>">
          <span class="comments"> | parent</span>
        </a>
      </span>
      <span>
        <a class="edit" href="<%="/comments/"%><%=comment.id%><%="/edit"%>"><%= " | edit" %></a>
      </span>
      <p class="comment_text" style="margin-top:2px;margin-right: 10px">
        <%= comment.text %>
      </p>
    </div>
  </tr>
</table>
