<%= form_for([@micropost, @micropost.comments.build]) do |f| %>
  <% if !parent.nil? %>
    <input type="hidden" name="comment[parent_id]" value="<%= parent %>">
  <% end %>

  <%= f.hidden_field :micropost_id %>

  <p style="padding-left: 25px">
    <%= f.text_area :text, :size => "80x8" %>
  </p>
  <p style="padding-left: 25px">
    <% if current_user %>
      <%= f.submit "reply"%>
    <% else %>
      <button id="mybutton"><a href="<%= new_user_session_path %>">add comment</a></button>
    <% end %>
  </p>
<%end%>
