<thead>
<table id="hnmain" border="0" cellpadding="0" align="center" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tr>
    <td bgcolor="#ff6600">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" >
        <tbody>
        <tr>
          <td style="width:18px;padding-right:4px">
            <a href=<% microposts_url %>>
              <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;">
            </a>
          </td>
          <td style="line-height:12pt; height:10px;">
            <span class="pagetop"><b class="=hname"><%= link_to 'Hacker News', microposts_url, class: 'ruby_link' %></b></span>
            <span class="pagetop_new"><%= link_to 'new', microposts_url(:sort =>"date"), class: 'ruby_link' %></span>
            <% if current_user %>
              <span class="pagetop_"><a href="/users/<%= current_user.id %>/comments"> | threads </a> </span>
            <% end %>
            | <span class="pagetop"><%= link_to 'ask', microposts_url(:type =>"ask"), class: 'ruby_link' %></span>
            <% if current_user %>
              | <span class="pagetop"><%= link_to 'submit', new_micropost_url, class: 'ruby_link' %></span>
            <% else %>
              | <span class="pagetop"><%= link_to 'submit', new_user_session_path, class: 'ruby_link' %></span>
            <% end %>
            | <span class="pagetop_upvoted">upvoted comments</span>
          </td>
          <td style="text-align:right;padding-right:4px;">
            <% if current_user %>
              <%= link_to current_user.email, edit_user_registration_path, class: 'ruby_link' %>
              | <%= link_to 'logout', destroy_user_session_path, class: 'ruby_link', data: {turbo: "false"}, method: :delete %>
            <% else %>
              <%= link_to 'login', new_user_session_path, class: 'ruby_link' %>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr style="height:10px"></tr>
</table>

<tbody border="0" cellpadding="0" cellspacing="0" class="itemlist">

<% i = 0 %>
<% @comment_likes.each do |comment_like| %>
  <% comment = Comment.find_by(id: comment_like.comment_id ) %>
  <% i = i + 1 %>
  <table border="0" cellpadding="0" align="center" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <% if i == 1 %>
      <tr><td><br class="br_ini_upvoted_list"></td></tr>
    <% end %>
    <tr class="comment_info_list_comments">
      <td class="enum"><span><%= i %>.</span></td>
      <td class="sub">
              <span>
        <% if comment.user_id.to_i != 0 %>
          <% if current_user %>
            <% pre_like = comment.comment_likes.find { |comment_like| comment_like.user_id == current_user.id} %>
                    <% if current_user.email == User.search_name(comment.user_id)%>
              <span class="unable_unvote">*</span>
            <% elsif !pre_like%>
              <%= button_to '▲', comment_likes_path, params:{comment_id: comment.id}, method: :post, form_class:'upvoted_button', class: 'upvoted_button_c' %>
              <% else %>
              <span class="non-existent-vote"></span>
            <% end %>
          <% else %>
            <span class="upvote"><a href="<%= new_user_session_path %>">▲</a></span>
          <% end %>
        <% end %>
      </span>
        <span> <%= comment.comment_likes.count %> <%= (comment.comment_likes.count) == 1 ? 'point' : 'points' %> by</span>
        <span>
        <% if comment.user_id.to_i != 0 %>
          <% if current_user %>
            <% if current_user.email == User.search_name(comment.user_id.to_i)%>
              <a class="link_user" href="/users/edit"><%= User.search_name(comment.user_id.to_i) %></a>
            <% else %>
              <a class="link_user" href="/users/<%= comment.user_id.to_i %>"><%= User.search_name(comment.user_id.to_i) %></a>
            <% end %>
          <% else %>
              <a class="link_user" href="/users/<%= comment.user_id.to_i %>"><%= User.search_name(comment.user_id.to_i) %></a>
          <% end %>
        <% end %>
      </span>
        <span>
        <% if comment.created_at.to_i != 0 %>
          <% if ((Time.now - comment.created_at) / 1.year).round >= 1 %>
            <%= ((Time.now - comment.created_at) / 1.year).round %>  years ago
          <% else %>
            <% if ((Time.now - comment.created_at) / 1.month).round >= 1 %>
              <%= ((Time.now - comment.created_at) / 1.month).round %> months ago
            <% else %>
              <% if ((Time.now - comment.created_at) / 1.week).round >= 1 %>
                <%= ((Time.now - comment.created_at) / 1.week).round %> weeks ago
              <% else %>
                <% if ((Time.now - comment.created_at) / 1.day).round >= 1 %>
                  <%= ((Time.now - comment.created_at) / 1.day).round %>  days ago
                <% else %>
                  <% if ((Time.now - comment.created_at) / 1.hour).round >= 1 %>
                    <%= ((Time.now - comment.created_at) / 1.hour).round %> hours ago
                  <% else %>
                    <% if ((Time.now - comment.created_at) / 1.minute).round >= 1 %>
                      <%= ((Time.now - comment.created_at) / 1.minute).round %> minutes ago
                    <% else %>
                      <%= ((Time.now - comment.created_at) / 1.second).round %> seconds ago
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </span>
        <span>
        <a href="<%= micropost_path(comment.micropost_id) %>">
          <span class="comments"> | parent</span>
        </a>
      </span>
        <span>
        <% if current_user %>
          <% if current_user.id == comment.user_id %>
            <a class="edit" href="<%="/comments/"%><%=comment.id%><%="/edit"%>"><%= " | edit" %></a>
          <% end %>
        <% end %>
      </span>
        <span>
        <% if current_user %>
        <% if current_user.id == comment.user_id%>
          | <%= button_to 'delete', comment, method: :delete, form_class: 'delete_button', class: 'delete'%>
        <% end %>
      <% end %>
      </span>
        <span>
        <% if comment.user_id.to_i != 0 %>
          <% if current_user %>
            <% pre_like = comment.comment_likes.find { |comment_like| comment_like.user_id == current_user.id} %>
              <% if pre_like %>
                |<%= button_to 'unvote', comment_like_path(pre_like), params:{comment_id: comment.id} ,method: :delete, form_class:'downvoted_button', class: 'downvoted_button_c' %>
              <% end %>
          <% end %>
       <%end%>
      </span>
        <p class="comment_text" style="margin-top:2px;margin-right: 10px;margin-bottom:1px">
          <%= comment.text %>
        </p>
        <a href="/comments/<%=comment.id%>/replies" class="comment-form-display">reply</a>
        <br><br>
      </td>
    </tr>
    <tr>
      <td>
        <br class="br_between_comments_likes">
      </td>
    </tr>
    <% if i == @comment_likes.size %>
      <tr>
        <td>
          <br class="br_peu">
        </td>
        <td>
          <hr class="orange_line">
          <br>
        </td>
      </tr>
    <% end %>
  </table>
<%end%>


