<%= form_with(model: micropost) do |form| %>
  <% if micropost.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <table border="0">
    <tbody>
    <tr>
      <td class=taula_submit>
        <%= form.label :title %>
      </td>
      <td>
        <%= form.text_field :title, :size => 50 %>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td class=taula_submit>
        <%= form.label :url %>
      </td>
      <td>
        <%= form.text_field :url, :size => 50 %>
      </td>
    </tr>
    <tr>
      <td class=taula_submit>
        <%= form.label :text %>
      </td>
      <td>
        <%= form.text_area :text, :size => "50x4" %>
      </td>
    </tr>
    <tr>
      <td class=taula_submit>
        <%= form.label :user_id, style: "display: block" %>
      </td>
      <td>
        <%= form.number_field :user_id %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= form.submit "submit" %>
      </td>
    </tr>
    <tr height="20px"></tr>
    <tr>
      <td></td>
      <td class="foot">
        Leave url blank to submit a question for discussion. If there is no url, text will appear at the top of the thread. If there is a url, text is optional.
        <br><br>
        You can also submit via
        <a href="https://news.ycombinator.com/bookmarklet.html">bookmarklet</a>.
        <br><br>
      </td>
    </tbody>
  </table>

<% end %>
