<div id="<%= dom_id micropost %>">
  <p>
    <span class="title"> <a href="<%= micropost.url %>"><%= micropost.title %> </a></span>
    <span class="url_post"><a href="<%= micropost.url %>"> (<%= micropost.url %>) </a></span>

  </p>

  <p>
    <strong>User:</strong>
    <%= micropost.user_id %>
  </p>

</div>
