<div id="<%= dom_id micropost %>">
  <% if current_user %>
    <% if current_user.email == User.search_name(micropost.user_id)%>
      <span class="unable_unvote">*</span>
    <% else %>
      <span class="upvote">▲</span>
    <% end %>
  <% else %>
    <span class="upvote"><a href="<%= new_user_session_path %>">▲</a></span>
  <% end %>
  <span class="title"><a href="<%= micropost.url %>"><%= micropost.title %> </a></span>
  <!--<span class="url_post"><a href="<%= micropost.url %>">(<%= micropost.url %>)</a></span>-->
  <span class="url_post">
    <%= link_to micropost.url, "http://#{micropost.url}" %>
  </span>
  <br>
  <div class="post_info">
    <span><!--punts--> points by
      <% if current_user %>
        <% if current_user.email == User.search_name(micropost.user_id)%>
          <a class="link_user" href="/users/edit"><%= micropost.user.email %></a>
        <% else %>
          <% if micropost.user.name != nil %>
            <a class="link_user" href="/users/<%= micropost.user_id %>"><%= micropost.user.name %></a>
          <% else %>
            <a class="link_user" href="/users/<%= micropost.user_id %>"><%= micropost.user.email %></a>
          <% end %>
        <% end %>
      <% else %>
        <% if micropost.user.name != nil %>
          <a class="link_user" href="/users/<%= micropost.user.id %>"><%= micropost.user.name %></a>
        <% else %>
          <a class="link_user" href="/users/<%= micropost.user.id %>"><%= micropost.user.email %></a>
        <% end %>
      <% end %>
    </span>
  <span>
    <% if ((Time.now - micropost.created_at) / 1.year).round >= 1 %>
      <%= ((Time.now - micropost.created_at) / 1.year).round  %>  years ago
    <% else %>
      <% if ((Time.now - micropost.created_at) / 1.month).round >= 1 %>
        <%= ((Time.now - micropost.created_at) / 1.month).round %> months ago
      <% else %>
        <% if ((Time.now - micropost.created_at) / 1.week).round >= 1 %>
          <%= ((Time.now - micropost.created_at) / 1.week).round %> weeks ago
        <% else %>
          <% if ((Time.now - micropost.created_at) / 1.day).round >= 1 %>
            <%= ((Time.now - micropost.created_at) / 1.day).round %>  days ago
          <% else %>
            <% if ((Time.now - micropost.created_at) / 1.hour).round >= 1 %>
              <%= ((Time.now - micropost.created_at) / 1.hour).round %> hours ago
            <% else %>
              <% if ((Time.now - micropost.created_at) / 1.minute).round >= 1 %>
                <%= ((Time.now - micropost.created_at) / 1.minute).round %> minutes ago
              <% else %>
                <%= ((Time.now - micropost.created_at) / 1.second).round %> seconds ago
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </span>
  <span>| hide |
  </span>
  <span>
   <%= link_to 'comments', "/comments"%>
  <!-- num comments -->
  </span>
  </div>
</div>
